lib-cov
*.seed *.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

.DS_Store

bower_components
node_modules

.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache
.#*
*~
*.orig
*#
*.swp
*.mp4
*.db
*.avi
*.mov
*.webm
*.mpg
*.mpeg

*.exe

